<div class="container-xxl flex-grow-1 container-p-y">
  <div class="card">
    <div class="d-flex justify-content-between align-items-center mt-3">
      <h5 class="card-header">{{title}}</h5>
      {{!-- <div>
          <label for="formFile" class="form-label">Gallereya kiritish</label>
          <input class="form-control" type="file" id="formFile">
        </div> --}}
      <button type="button" id="modalBtn" style="height: 40px;" class="mx-3 btn btn-primary" >
        Launch modal
      </button>
    </div>
  </div>
</div>
<div class="modal fade" id="modalCenter" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalCenterTitle">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col mb-3">
            <label for="nameWithTitle" class="form-label">Name</label>
            <input type="text" id="nameWithTitle" class="form-control" placeholder="Enter Name" />
          </div>
        </div>
        <div class="row g-2">
          <div class="col mb-0">
            <label for="emailWithTitle" class="form-label">Email</label>
            <input type="text" id="emailWithTitle" class="form-control" placeholder="xxxx@xxx.xx" />
          </div>
          <div class="col mb-0">
            <label for="dobWithTitle" class="form-label">DOB</label>
            <input type="text" id="dobWithTitle" class="form-control" placeholder="DD / MM / YY" />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<script src="/assets/js/ui-modals.js"></script>
<script>
    console.log('clicked');
  let modalBtn  = document.getElementById('modalBtn');
  modalBtn.addEventListener('click', function() {
    console.log('clicked');
    document.querySelector('#modalCenter').style.display = 'block';
  });
</script>