{{> head }}

<body>
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        {{> adminnav}}
            <div class="layout-page">
            {{> admintop}}
                <div class="content-wrapper">
                    {{{body}}}
                </div>
            </div>
      </div>
    </div>
    </div>
    {{> scripts}}
</body>

</html>