{{> head }}

<body>
    <div class="wrapper">
        {{> adminnav}}
        <main class="main">
            {{> admintop}}
            {{{body}}}
        </main>
    </div>
    {{> scripts}}
</body>

</html>