<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Smart Kids</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon/favicon.ico" />
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Handlee&family=Nunito&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Flaticon Font -->
    <link href="/lib/flaticon/font/flaticon.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">
</head>


<body id="inner_page">

  {{> sitenav}}
  {{{body}}}
  {{!-- <div class="container">
  </div> --}}

  {{!-- <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a> --}}
  {{#if error}}
  <div class="toast error">
    <div class="card bg-danger text-white">
      <button class="exit" onclick="exitToast(0)"></button>
      <div class="card-body">{{error}}</div>
    </div>
  </div>
  {{/if}}
  {{#if success}}
  <div class="toast ">
    <div class="card bg-success text-white">
      <button class="exit" onclick="exitToast(0)"></button>
      <div class="card-body">{{success}}</div>
    </div>
  </div>
  {{/if}}
  {{> sitefooter}}
  {{> sitescripts}}

  <script>
    function exitToast(time) {
      let toast = document.querySelectorAll(".toast")
      let index = 0
      toast.forEach((el) => {
        if (index == 0) {
          setTimeout(() => {
            el.classList.add('hide')
          }, time);
        } else {
          setTimeout(() => {
            el.classList.add('hide')
          }, time + 500);
        }
        index++
      })
    }
    exitToast(3000)
  </script>
</body>

</html>