   <!-- Header Start -->
   <div class="container-fluid bg-primary mb-5">
       <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 400px">
           <h3 class="display-3 font-weight-bold text-white">Shahsiy kabinet</h3>
           <div class="d-inline-flex text-white">
               <p class="m-0"><a class="text-white" href="/">Bosh sahifa</a></p>
               <p class="m-0 px-2">/</p>
               <p class="m-0">Shahsiy kabinet</p>
           </div>
       </div>
   </div>
   <!-- Header End -->
<div class="container-fluid pt-5">
    <div class="container">
            {{#if payment}}
                <div id="Checkout" class="inline">
                <h1>Siz hali to'lov qilmagansiz. Iltimos to'lovni amalga oshiring!</h1>
                <div class="card-row">
                    <div class="card-img">
                        <img src="/video/uzcard.jpg" alt="">
                    </div>
                    <div class="card-img">
                        <img src="/video/humo.jpg" alt="">
                    </div>
                </div>
                    <form action="/user/payment" method="post">
                        <input type="hidden" name="_csrf" value="{{csrf}}">
                        <div class="form-group">
                            <label for="PaymentAmount">To'lov summasi</label>
                            <div class="amount-placeholder">
                                <span>300 000 so'm</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label or="NameOnCard">To'lov maqsadi</label>
                            <input id="NameOnCard" name="title" class="form-control" type="text"></input>
                        </div>
                        <div class="form-group">
                            <label for="CreditCardNumber">Karta raqami</label>
                            <input id="CreditCardNumber" class="null card-image form-control" type="text" name="card"></input>
                        </div>
                        <div class="form-group">
                            <label for="CreditCardNumber">To'lov summasi</label>
                            <input id="CreditCardNumber" class="null card-image form-control" type="text" name="price"></input>
                        </div>
                        <div class="expiry-date-group form-group">
                            <label for="ExpiryDate">Kartaning amal qilish muddati</label>
                            <input id="ExpiryDate" class="form-control" type="text" placeholder="MM / YY" maxlength="7"></input>
                        </div>
                        <div class="security-code-group form-group">
                            <label for="SecurityCode">Parolingiz</label>
                            <div class="input-container" >
                                <input id="SecurityCode" class="form-control" type="password" ></input>
                            </div>
                        </div>
                        <button id="PayButton" class="btn btn-block btn-success submit-button" type="submit">
                            <span class="align-middle">To'lov qilish</span>
                        </button>
                    </form>
                </div>
            {{else}}
                <div class="d-flex" style="justify-content:space-between; align-items: center">
                    <h2>
                        <span class="px-2">
                        Videolar
                        </span>
                    </h2>
                    <a href="https://phoneverification.azurefd.net/Account/Login?ReturnUrl=%2Fconnect%2Fauthorize%2Fcallback%3Fclient_id%3Ddad61ef9-8f1e-4247-9782-e4d8326241b9%26redirect_uri%3Dhttps%253A%252F%252Fuzbekistan.learningpassport.unicef.org%252Fsignin-phone%26response_type%3Dcode%26scope%3Dopenid%2520offline_access%26code_challenge%3DsF06tNRv6d5KIIhW5zuDIK7VIZkxg8p2W3nfJPWBfAM%26code_challenge_method%3DS256%26response_mode%3Dform_post%26nonce%3D637913460313425748.NWFjMjZhNGUtZmZhMy00Njc2LTlhZDgtMzIwNjFhNzFiYjE2NzU0NGJhNTItMTY4ZC00ZjZjLTk3OTgtZDRlNmVlNjI1ZmEx%26country_code%3DUZ%26language%3Dru-RU%26state%3DCfDJ8EYEv4GdynZDrgmZmEhdmSYeDJL0pt5U-ISw0XhPGEDud_ET059GVI4k_vSoJswmonFF5DH5wj7CFcb54Gpt9yHE2xqi0-CNMc3H0U4zK0McKQdO-X-KwFkujkL_OLqyyVfMATCy9j-JZ2vn2MODQqWGutotSiyKMfSYqtdHk95FZpOpD-MLvK1asqpDgTkbgdym5EgxcvHT_C_CycuRZ1_DN2HXDK7dKAzHu7sdUzdFSB6KFmdiPoqVODELmedpUF_dYmq7h0erDe1dfyj9ZoX5yUuKWKkUu-mZFwBGWU5Gs5J5Xhb3UkXEN2Of65Oxj6uRhP-pvWeU4gdqMBCTN_-bSTRCMNke1wCk0TcIC4Cx-2nc1dZ84qagUwWrP_PVapwDuE0-VT4V7e1tRm22hnU-AG0GV-VedO8MfwlJGRHKpHuaeZuXnw6wwj6MIJRGxVgiaxKrMZkITYJcWuPEIu84K_6KOf0ajYbU6DpF55zLuEUjMl9nWNHimQQHAwA0Fy-u7q8Os46c8G90_BM4dVcP4T-LFwcZrvC__UK-8WEjt8PtqrMQBmO-h2dBQmjdC_ZgFlxJbkSgGGIgthmbMg47AzoDwtuqGRmqcBOkRZ0d%26x-client-SKU%3DID_NETSTANDARD2_0%26x-client-ver%3D5.6.0.0" target="_blank">
                        <img src="/video/link.png" alt="">
                    </a>
                </div>
                    {{#each video}}
                        <h2 style="text-align: left;">{{title}}</h2>
                        {{{url}}}
                    {{/each}}
            {{/if}}
    </div>
</div>
