   <!-- Header Start -->
   <div class="container-fluid bg-primary mb-5">
       <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 400px">
           <h3 class="display-3 font-weight-bold text-white">Shahsiy kabinet</h3>
           <div class="d-inline-flex text-white">
               <p class="m-0"><a class="text-white" href="/">Bosh sahifa</a></p>
               <p class="m-0 px-2">/</p>
               <p class="m-0">Shahsiy kabinet</p>
           </div>
       </div>
   </div>
   <!-- Header End -->
  
   <div class="container-fluid pt-5">
       <div class="container">
            {{#if payment}}
                <div class="text-center pb-2">
                    <h2><span class="px-2">
                        Siz hali to'lov qilmagansiz. Iltimos to'lovni amalga oshiring!
                        </span>
                    </h2>
                </div>
                <form action="/user/payment/{{users._id}}" method="post">
                    <input type="hidden" name="_csrf" value="{{csrf}}">
                    <div class="form-group">
                        <label for="exampleInputPassword1">Karta raqami</label>
                        <input type="number" name="card" class="form-control" id="exampleInputPassword1" placeholder="Karta raqami">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">To'lov summasi</label>
                        <input type="number" name="price" class="form-control" id="exampleInputPassword1" placeholder="To'lov summasi">
                    </div>
                    <button type="submit" class="btn btn-primary w-100">To'lov qilish</button>
                </form>
            {{else}}
                 <div class="text-center pb-2">
                    <h2>
                        <span class="px-2">
                        Videolar
                        </span>
                    </h2>
                    <iframe width="80%" height="415" src="https://www.youtube.com/embed/TRepkuJvn0k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            {{/if}}
       </div>
   </div>
